form {
  max-width: 450px;
}
#loginBtn {
  background: green;
  color: white;
  width: 100%;
  padding: 10px;
  transition: 0.4s;
  font-weight: bold;
  border: none;
}

#loginBtn:hover {
  background: #252236;
}
