<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/src/layouts/footerComp/style.css" />
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <title>Document</title>
  </head>
  <body>
    <footer>
      <div id="upperFooter">
        <div
          id="upperPart"
          class="d-flex p-4 py-5 flex-column flex-lg-row justify-content-lg-between align-items-lg-center"
        >
          <div class="d-flex justify-content-start align-items-center gap-2">
            <i
              class="fa-solid fa-envelope-open-text text-success emailIcon"
            ></i>

            <div>
              <h1 class="text-white">NewsLetter</h1>
              <p class="text-secondary">
                Subsribe here for get every single updates
              </p>
            </div>
          </div>
          <div class="py-3">
            <input
              id="emailInp"
              type="email"
              placeholder="your email"
              class="p-3 text-white fw-bold"
            />
            <button id="subsBtn" class="p-3 fw-bold border-0">
              SUBSCRIBE NOW
            </button>
          </div>
        </div>
      </div>
      <div id="lowerFooter">
        <div id="lowerPart" class="p-4">
          <div
            class="row row-cols-1 row-cols-md-2 gx-3 row-cols-lg-3 row-cols-xl-5"
          >
            <div class="col">
              <h5 class="text-white py-2">Our Address</h5>
              <ul class="list-unstyled lh-lg">
                <li class="d-flex align-items-baseline gap-2">
                  <i class="fa-solid fa-location-dot"></i>

                  <p class="text-secondary">
                    PO Box 16122 Collins Street West Victoria 8007 Australia
                  </p>
                </li>
                <li class="d-flex align-items-baseline gap-2">
                  <i class="fa-solid fa-phone"></i>

                  <p class="text-secondary">+61 3 8376 6284</p>
                </li>
                <li class="d-flex align-items-baseline gap-2">
                  <i class="fa-solid fa-envelope"></i>

                  <p class="text-secondary">info123@gmail.com</p>
                </li>
                <li class="d-flex gap-3 py-3">
                  <i class="fa-brands fa-facebook-f fs-1 text-secondary"></i>
                  <i class="fa-brands fa-twitter fs-1 text-secondary"></i>
                  <i class="fa-brands fa-instagram fs-1 text-secondary"></i>
                  <i class="fa-brands fa-linkedin fs-1 text-secondary"></i>
                </li>
              </ul>
            </div>
            <div class="col">
              <h5 class="text-white py-2">Information</h5>
              <ul class="list-unstyled lh-lg">
                <li><a href="#">About Us</a></li>
                <li><a href="#">Contact Us</a></li>
                <li><a href="#">Privacy Policy</a></li>
                <li><a href="#">FAQ</a></li>
                <li><a href="#">Customer Service</a></li>
              </ul>
            </div>
            <div class="col">
              <h5 class="text-white py-2">My Account</h5>
              <ul class="list-unstyled lh-lg">
                <li><a href="#">My Account</a></li>
                <li><a href="#">Login Page</a></li>
                <li><a href="#">Shopping Cart</a></li>
                <li><a href="#">Register Account</a></li>
                <li><a href="#">Logout</a></li>
              </ul>
            </div>
            <div class="col">
              <h5 class="text-white py-2">Need Help?</h5>
              <ul class="list-unstyled lh-lg">
                <li><a href="#">Help Center</a></li>
                <li><a href="#">Fodo Market Terms</a></li>
                <li><a href="#">Author Terms</a></li>
                <li><a href="#">Fodo Licences</a></li>
                <li><a href="#">Contact Us</a></li>
              </ul>
            </div>
            <div class="col">
              <h5 class="text-white py-2">Categories</h5>
              <ul class="list-unstyled lh-lg">
                <li><a href="#">Fruits & Vegetables</a></li>
                <li><a href="#">Dairy Products</a></li>
                <li><a href="#">Package Foods</a></li>
                <li><a href="#">Beverage</a></li>
                <li><a href="#">Health & Wellness</a></li>
              </ul>
            </div>
          </div>

          <div>
            <p>
              <span class="fw-bold text-white">Food & Vegetables:</span>
              <a href="#">Carrots</a> <span class="fw-bold px-2">|</span>
              <a href="#">Broccoli</a> <span class="fw-bold px-2">|</span>
              <a href="#">Potato</a> <span class="fw-bold px-2">|</span>
              <a href="#">Cauliflower</a> <span class="fw-bold px-2">|</span>
              <a href="#">Eggplant</a> <span class="fw-bold px-2">|</span>
              <a href="#">Chieves</a> <span class="fw-bold px-2">|</span>
              <a href="#">View all</a>
            </p>
            <p>
              <span class="fw-bold text-white">Health & Beauty:</span>
              <a href="#">Skin Care</a> <span class="fw-bold px-2">|</span>
              <a href="#">Body Shower</a> <span class="fw-bold px-2">|</span>
              <a href="#">Makeup</a> <span class="fw-bold px-2">|</span>
              <a href="#">Hair Care</a> <span class="fw-bold px-2">|</span>
              <a href="#">Lipstick</a> <span class="fw-bold px-2">|</span>
              <a href="#">Perfume</a> <span class="fw-bold px-2">|</span>
              <a href="#">View all</a> <span class="fw-bold px-2">|</span>
            </p>
          </div>
          <hr class="text-white" />
          <div
            class="py-4 d-flex flex-column flex-lg-row justify-content-lg-between align-items-lg-center"
          >
            <div id="payImg" class="d-flex gap-4">
              <img src="../../assets/images/sec2/visa.png" alt="" />
              <img src="../../assets/images/sec2/mastercard.jpg" alt="" />
              <img src="../../assets/images/sec2/paypal.jpg" alt="" />
              <img src="../../assets/images/sec2/applePay.png" alt="" />
            </div>
            <p class="text-secondary py-3">
              Copyright © 2021 Fodo Theme by <a href="#">CodexUnicTheme</a>
            </p>
          </div>
        </div>
      </div>
    </footer>

    <script src="/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
